.selector-for-some-widget {
    box-sizing: content-box;
  }

body {

    font-family: "Noto",sans-serif;
    font-weight: 400;
    font-size: 16px;
    line-height: 1.6;
}

h1{
    font-family: "Noto",sans-serif; 
    font-size: 18px;
    line-height: 1.6;
    color: green;
    font:bold;
}


.button-class{
    background-color: green;
    border: none;
    color:aliceblue;
    padding: 16px 32px;
    text-align: center;
    text-decoration: none;
    display: inline-block;
    font-size: 16px;
    margin: 4px 2px;
    -webkit-transition-duration: 0.4s;/*Safari*/
    transition-duration: 0.4s;
    cursor: ponter;
    background-color: white;
    color:black;
    border: 2px solid green;
}


.loader {
    position: fixed;
    padding: 20px;
    box-sizing: border-box;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    background: rgba(0, 0, 0, 0.5);
    
    /* to show it above other content */
    z-index: 999; 
    
    /* to allow scrolling if the screen is not high enough*/
    overflow: auto; 
    
    /* this is used to center the modal */
    display: block;
    text-align: center;
    color: white;
    font-size: 6rem;
    font-family: Verdana, Geneva, Tahoma, sans-serif;
}

.modal {
    margin: auto;
    display: inline-block;
    background: whitesmoke;
    padding: 12px;
    width: 100%;
    height: 100%;
    max-height: 500px;
    max-width: 400px;
    text-align: left;
    border: 2px solid green;
    
}

.modal-close{
    float: right;
    border: 0;
    background: none;
    color: darkgreen;
    text-decoration: underline;

}
.hide-loader {
    display: none;
}

.modal h1 {
    margin-top: 10px;
    font-size: 20px;
}

.modal p {
   font-size: 14px;
}

.modal img {
    margin: auto;
}

#modal-container {
    display:none
}

#modal-container.is-visible {
border: 5px darkgrey;
background-color:rgba(0, 0, 0, 0.5);
box-shadow: inset;
display: block;
position: fixed;
left: 0;
top: 0;
width: 100%;
height: 100%;

z-index: 999;
text-align: center;
color: darkgreen;
font-size: 6rem;
font-family: Verdana, Geneva, Tahoma, sans-serif; 
transition: filter .15s ease-in-out;
cursor: pointer;

}


.modal-content {
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    background-color: white;
    padding: 2rem 2.5rem;
    width: 30em;
    border-radius: 0.5rem;
  }

.close-button {
    float: right;
    width: 1.5rem;
    font-size: 1.2em;
    line-height: 1;
    padding: 0 .2em .15em;
    text-align: center;
    cursor: pointer;
    border-radius: 0.25rem;
    background-color: var(--clr-neutral);
    color: var(--clr-dark);
    transition: color 0.12s ease-in-out;
  }
  
.close-button:hover {
    color: var(--clr-main);
  }