.selector-for-some-widget {
    box-sizing: content-box;
  }

body {

    font-family: "Noto",sans-serif;
    font-weight: 400;
    font-size: 16px;
    line-height: 1.6;
}

h1{
    font-family: "Noto",sans-serif; 
    font-size: 18px;
    line-height: 1.6;
    color: green;
    font:bold;
}


.button-class{
    background-color: green;
    border: none;
    color:aliceblue;
    padding: 16px 32px;
    text-align: center;
    text-decoration: none;
    display: inline-block;
    font-size: 16px;
    margin: 4px 2px;
    -webkit-transition-duration: 0.4s;/*Safari*/
    transition-duration: 0.4s;
    cursor: ponter;
    background-color: white;
    color:black;
    border: 2px solid green;
}


.loader {
    position: fixed;
    padding: 20px;
    box-sizing: border-box;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    background: rgba(0, 0, 0, 0.5);
    
    /* to show it above other content */
    z-index: 999; 
    
    /* to allow scrolling if the screen is not high enough*/
    overflow: auto; 
    
    /* this is used to center the modal */
    display: block;
    text-align: center;
    color: white;
    font-size: 6rem;
    font-family: Verdana, Geneva, Tahoma, sans-serif;
}

.hide-loader {
    display: none;
}
